{% extends "base.html" %}
{% load static %}
{% load url_finders %}

{% block content %}
<div class="content-section">
  <h2>Results for {{ address }}</h2>
  <br>
  <a href="{% url 'address' %}" class="btn btn-outline-info">Do It Again!</a>

  {% if messages %}
  <div class="messages">
      {% for message in messages %}

        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
          {% if message|is_https_url %}
            <img src="{{ message }}" alt="Picture of {{ message }}">
          {% else %}
            <h3>{{ message }}</h3>
          {% endif %}
        {% endif %}

      {% endfor %}
  </div>
  {% endif %}
  <br>
  <a href="{% url 'address' %}" class="btn btn-outline-info">Do It Again!</a>
</div>
{% endblock content %}
