{% extends "base.html" %}
{% block content %}
<div class="row container-fluid">
  <h1 color='pink'>HELLO</h1>
</div>
<div class="row container-fluid">
  <form class="" action="index.html" method="post">
    <label for="address">Address:</label><br>
    <input type="text" id="address" name="address"><br>
    <label for="API-key">Streetview API Key:</label><br>
    <input type="text" id="API-key" name="API-key"><br><br>
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock content %}
