{% extends "base.html" %}
{% load static %}
{% block content %}
  <div>
    <img src="{% static 'home/UDP_Logo.png' %}" alt="UDP Logo" align="center" max-height="100%" width="50%">
  </div>
  <h1>What is Zoetrope?</h1>
  <p>
    Zoetrope is an open source tool facilitating the collection, processing, and analysis of Google Street 
    view data accross time and geographies. It is meant to serve the diverse community of 
    city enthusiasts, urban planners, and researchers interested in exploring the richness of 
    temporal street view imagery. In this spirit, Zoetrope provides an intuitive graphical user interface 
    for easy image sampling while also making accessible useful libraries for avid programmers seeking more customization.
  </p>
  <br>
  <h1>Why is it called Zoetrope?</h1>
  <!-- <div>
    <img src="{% static 'home/zoetrope-img.jpeg' %}" alt="Picture of a zoetrope" align="left" width="200px" height="auto">
  </div> -->
  <p>
    The name Zoetrope was chosen to echo the magic of early advances in animation which created the illusion of motion 
    by rotating static images over a cylinder. Similarly, we hope that by making accessible images of the same place over time, 
    Zoetrope will provide new perspectives on changes happening around us.
  </p>
  <br>
  <h1>About the Team</h1>
  <p>
    <b>Shayan Ghosh</b> is the primary developer of Zoetrope and a current 
    undergraduate student at UC Berkeley studying Computer Science and City Planning.
    <br>He is passionate about equitable housing and transportation.
  </p>
  <p>
    <b>Moulay-Zaidane Draidia</b> is a data scientist particularly intersted on socially driven and conscentious use of 
    Machine Learning technologies. His prior experiences include assessing and mitigating risk in micro credit lending in Morocco, 
    developping medical digital assistants, and researching ways to train large language models more efficiently. 
    Moulay-Zaidane first began work on Zoetrope as an undergraduate at UC Berkeley, eager to explore how people 
    perceived changes in their environments.
  </p>
{% endblock content %}
