{% extends "base.html" %}
{% load static %}
{% block content %}
  <div>
    <img src="{% static 'home/UDP_Logo.png' %}" alt="UDP Logo" align="center" max-height="100%" width="50%">
  </div>
  <h1>What is Zoetrope?</h1>
  <p>
    Zoetrope is a tool to facilitate the collection, analysis, and processing 
    of Google Street View images across time and geographies.
  </p>
  <br>
  <h1>Why is it called Zoetrope?</h1>
  <!-- <div>
    <img src="{% static 'home/zoetrope-img.jpeg' %}" alt="Picture of a zoetrope" align="left" width="200px" height="auto">
  </div> -->
  <p>
    A zoetrope is a device that uses a series of static images 
    along the inside of a rotating cylinder to create a sense of motion
    or to tell a story.<br>
    We hope that Zoetrope can similarly utilize static images to
    tell the stories of how places change over time.
  </p>
  <br>
  <h1>About the Team</h1>
  <p>
    <b>Shayan Ghosh</b> is the primary developer of Zoetrope and a current 
    undergraduate student at UC Berkeley studying Computer Science and City Planning.
    <br>He is passionate about equitable housing and transportation.
  </p>
  <p>
    <b>Moulay-Zaidane Draidia</b> is the project manager of Zoetrope and recently graduated
    with a M.S. in Data Science from Columbia University.
  </p>
{% endblock content %}
