{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- TODO: Convert into for loop (nested?) -->
{% if user.is_authenticated %}
  <h3>API calls remaining for user {{ user.username }}: {{user.api_calls_remaining}}</h3>
  <p>Note: The number of API calls made does not necessarily match the number of points or images downloaded.</p>
{% endif %}
<div class="row mb-2">
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <br>
        <h3 class="mb-0">Single Address Search</h3>
        <br>
        <p class="card-text mb-auto">Enter an address to get images over time</p>
        <a href="{% url 'address' %}" class="stretched-link">Explore</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="{% static 'home/streets.jpg' %}" alt="Address" width="200" height="250">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <br>
        <h3 class="mb-0">Neighborhood Sample Search</h3>
        <br>
        <p class="mb-auto">Sample points in a geographic neighborhood</p>
        <a href="{% url 'sample' %}" class="stretched-link">Explore</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="{% static 'home/randomSampling.jpg' %}" alt="Sample" width="200" height="250">
      </div>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <br>
        <h3 class="mb-0">Manage Neighborhoods</h3>
        <br>
        <p class="card-text mb-auto">Create, edit, and delete neighborhoods</p>
        <a href="{% url 'neighborhood' %}" class="stretched-link">Explore</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="{% static 'home/neighborhood.jpg' %}" alt="Neighborhood" width="200" height="250">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <br>
        <h3 class="mb-0">Settings</h3>
        <br>
        <p class="card-text mb-auto">Update user information</p>
        <a href="{% url 'update_profile' %}" class="stretched-link">Explore</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="{% static 'home/gear.jpg' %}" alt="Settings Gear" width="200" height="250">
      </div>
    </div>
  </div>
</div>
<p>Have feedback? Let us know <a href=https://forms.gle/PfVMYdeJFVA8pHQH6>here</a>!</p>

{% endblock content %}
