{% extends "base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <h2 class="nhood-title">{{ object.name }}</h2>
      <small class="text-muted">By {{ object.author }}</small>
      <p class="nhood-content">{{ object.points }}</p>
    </div>
    <div class="nhood-metadata">
      {% if object.author == user %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'nhood-update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'nhood-delete' object.id %}">Delete</a>
      {% endif %}
    </div>
  </article>
{% endblock content %}
