{% extends "base.html" %}
{% load static %}

{% block head %}
<style type="text/css">
  /* Set the size of the div element that contains the map */
  #map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
</style>
{% endblock head %}

{% block content %}
<div class="content-section">
  <h2>Sampled Points: {{ neighborhood.name }}</h2>
  <p id="neighborhood_def" hidden> {{ neighborhood.points }} </p>
  <p id="sampled_points" hidden> {{ sample }} </p>
  <!-- <p id="test">no initMap call! SUCC-FILE</p> -->
  <div id="map"></div>
  <br>
  <a href="{% url 'sample_points' neighborhood.id %}" class="btn btn-outline-info">Sample Again!</a>

  <script async
      src="https://maps.googleapis.com/maps/api/js?key={{ user.maps_api }}&callback=initMap">
  </script>
  <script src="{% static 'js/sampleMap.js' %}"></script>
</div>
{% endblock content %}
