{% extends "base.html" %}
{% load static %}
{% block head %}

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ user.maps_api }}&libraries=drawing&callback=initMap">
</script>

<style type="text/css">
  /* Set the size of the div element that contains the map */
  #map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
</style>

<script src="{% static 'js/drawMap.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

{% endblock head %}

{% block content %}
<div class="content-section">
  <form action="#" method="post">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Visual Neighborhood Creator</legend>
    </fieldset>
    <div class="form-group">
      <label for="nhoodname">New Neighborhood Name:</label>
      <input required id="nhoodname" class="form-control" name="nhoodname" placeholder="Enter Neighborhood Name">
      <span class="help-block">Please be as descriptive as possible when naming your region. Example: Southside, Berkeley, CA</span>
    </div>
    <br>
    <div class="form-group">
      <div id="map"></div>
      <span class="help-block">Be sure to create only one shape. Form will only save most recently drawn polygon.</span>
      <input required hidden id="newpath" class="form-control" name="newpath" value="">
    </div>
    <br>
    <div class="form-group">
      <button type="submit" name="nhood-create-button" class="btn btn-outline-info">Create</button>
    </div>
  </form>
</div>
{% endblock content %}
